/* Site logo */
.logo {
    display: flex;
    align-self: center;
    padding-top: 24px;
    padding-bottom: 25px;

    color: $acentTextColor;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    margin-right: 93px;

    &__text {
        color: $blackTextColor;
    }
}

.logo-footer {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 28px;
    margin-right: 0;
    
    &__text {
        color: $witheTextColor;
    }
}



